include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Code-Quality.gitlab-ci.yml

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]

stages:
 - prepare
 - lint
 - test
 - publish

prepare:python3.8:
  stage: prepare
  image: docker:latest
  services:
    - docker:dind
  variables:
    GIT_STRATEGY: none  # Prevent cloning
    DOCKERFILE: >- # Generate a Dockerfile for the build image
      FROM python:3.8\n
      SHELL ["/bin/bash", "-c"]\n
      RUN apt-get update\n
      RUN apt-get install -y default-jre\n
      RUN pip install tox\n
      RUN gcloud version || true\n
      RUN if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then rm -rf $HOME/google-cloud-sdk; export CLOUDSDK_CORE_DISABLE_PROMPTS=1; curl https://sdk.cloud.google.com | bash; fi\n
      RUN source /root/google-cloud-sdk/path.bash.inc && gcloud version\n
      RUN CLOUDSDK_CORE_DISABLE_PROMPTS=1 source /root/google-cloud-sdk/path.bash.inc && gcloud components install cloud-datastore-emulator beta\n
  before_script:  # Put the variable into a Dockerfile
     - echo -e $DOCKERFILE > Dockerfile
     - cat Dockerfile
  script:
     - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
     - docker pull $CI_REGISTRY_IMAGE:python3.8 || true
     - docker build --cache-from $CI_REGISTRY_IMAGE:python3.8 -t $CI_REGISTRY_IMAGE:python3.8 .
     - docker push $CI_REGISTRY_IMAGE:python3.8

prepare:python3.9:
  stage: prepare
  image: docker:latest
  services:
    - docker:dind
  variables:
    GIT_STRATEGY: none  # Prevent cloning
    DOCKERFILE: >- # Generate a Dockerfile for the build image
      FROM python:3.9\n
      SHELL ["/bin/bash", "-c"]\n
      RUN apt-get update\n
      RUN apt-get install -y default-jre\n
      RUN pip install tox\n
      RUN gcloud version || true\n
      RUN if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then rm -rf $HOME/google-cloud-sdk; export CLOUDSDK_CORE_DISABLE_PROMPTS=1; curl https://sdk.cloud.google.com | bash; fi\n
      RUN source /root/google-cloud-sdk/path.bash.inc && gcloud version\n
      RUN CLOUDSDK_CORE_DISABLE_PROMPTS=1 source /root/google-cloud-sdk/path.bash.inc && gcloud components install cloud-datastore-emulator beta\n
  before_script:  # Put the variable into a Dockerfile
     - echo -e $DOCKERFILE > Dockerfile
     - cat Dockerfile
  script:
     - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
     - docker pull $CI_REGISTRY_IMAGE:python3.9 || true
     - docker build --cache-from $CI_REGISTRY_IMAGE:python3.9 -t $CI_REGISTRY_IMAGE:python3.9 .
     - docker push $CI_REGISTRY_IMAGE:python3.9

lint:python3:
  image: $CI_REGISTRY_IMAGE:python3.8
  stage: lint
  script:
    - tox -e flake8

test:pages:
  image: python:3.9
  stage: test
  needs: []  # We can execute this out-of-order
  before_script:
  - pip install mkdocs>=1.1.2
  script:
  - mkdir -p test
  - mkdocs build --strict --verbose --site-dir test
  artifacts:
    paths:
    - test
  except:
  - master

test:python3.8:django2.2:
 image: $CI_REGISTRY_IMAGE:python3.8
 stage: test
 before_script:
   - source /root/google-cloud-sdk/path.bash.inc
 script:
   - tox -e py38-22

test:python3.8:django3.0:
 image: $CI_REGISTRY_IMAGE:python3.8
 stage: test
 before_script:
   - source /root/google-cloud-sdk/path.bash.inc
 script:
   - tox -e py38-30

test:python3.8:django3.1:
 image: $CI_REGISTRY_IMAGE:python3.8
 stage: test
 before_script:
   - source /root/google-cloud-sdk/path.bash.inc
 script:
   - tox -e py38-31

test:python3.8:django3.2:
 image: $CI_REGISTRY_IMAGE:python3.8
 stage: test
 before_script:
   - source /root/google-cloud-sdk/path.bash.inc
 script:
   - tox -e py38-32

test:python3.9:django2.2:
 image: $CI_REGISTRY_IMAGE:python3.9
 stage: test
 before_script:
   - source /root/google-cloud-sdk/path.bash.inc
 script:
   - tox -e py39-22

test:python3.9:django3.0:
 image: $CI_REGISTRY_IMAGE:python3.9
 stage: test
 before_script:
   - source /root/google-cloud-sdk/path.bash.inc
 script:
   - tox -e py39-30

test:python3.9:django3.1:
 image: $CI_REGISTRY_IMAGE:python3.9
 stage: test
 before_script:
   - source /root/google-cloud-sdk/path.bash.inc
 script:
   - tox -e py39-31

test:python3.9:django3.2:
 image: $CI_REGISTRY_IMAGE:python3.9
 stage: test
 before_script:
   - source /root/google-cloud-sdk/path.bash.inc
 script:
   - tox -e py39-32

build and publish:
  stage: publish
  image: python:3.8
  when: manual
  only:
    - tags
  before_script:
    - pip install twine setuptools wheel
    - rm -rf dist
    - python setup.py sdist bdist_wheel
  script:
    - python -m twine upload --username=__token__ --password=$PROD_PYPI_TOKEN --repository-url https://upload.pypi.org/legacy/ dist/*

pages:
  image: python:3.9
  stage: publish
  needs: []
  before_script:
  - pip install mkdocs>=1.1.2
  script:
  - mkdir -p public
  - mkdocs build --strict --verbose
  artifacts:
    paths:
    - public
  only:
  - master
